button{
    background-color: #e0f2f1;
}

table {
  border-collapse: collapse;
  margin: 6% 30% 5% 0%;
}

tr {
  font-size: 25px;
  text-align: left;
}

thead, th {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#btnB, #btnBuscar {
  font-size: 15px;
  text-align: center;
  background-position: center;
}

table {
  text-align: center;
}

body {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
}

#form, #card {
  float: left;
  text-align: left;
  background-position: left;
}

#form {
  width: 33%;
  height: 0.78%;
}

#formtable {
  text-align: left;
  background-position: left;
}

#lang {
  margin: 0% 2% 0% 0%;
}

#lang1 {
  margin: 0% 15% 0% 0%;
}

#lang2 {
  margin: 0% 2% 0% 0%;
}

#lang3 {
  margin: 0% 2% 0% 0%;
}

#card {
  width: 35%
}
