<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark primary-color">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="basicExampleNav">
      
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Autos en venta
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Vender autos</a>
            </li>
      
          </ul>
      
          <form class="form-inline">
            <div class="md-form my-0">
              <button class="btn-save btn btn-primary btn-sm" *ngIf="isnotLogIn" [routerLink] = "'/register'">Registrarse</button>
              <button class="btn-save btn btn-primary btn-sm" *ngIf="isnotLogIn" [routerLink] = "'/login'">Iniciar sesión</button>
            </div>
          </form>
        </div>

      </nav>
    </header>


    <router-outlet></router-outlet>

    <footer class="page-footer font-small blue">

      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> VUB.com</a>
      </div>
    
    </footer>
  </body>
</html>


