<section>
      
  <table class="table">
    
      <tbody>
        <tr>
          <div id="form"> <br></div>

          <div class="card" id="card">

            <h3 class="card-header info-color white-text text-center py-4">
             <strong> Busqueda de vehiculo <i class="fas fa-car"></i></strong>
             </h3>

          <!--Card content-->
          <div class="card-body px-lg-5 pt-0">
             <form class="text-center" id="formtable" style="color: #757575;">
          <div class="md-form mt-3">
            <select id="lang" class="mdb-select md-form" >
              <option  class="op" value="" disabled selected>Marca</option>
               <option value="D&G">Toyota</option>
               <option value="2">Suzuki</option>
               <option value="3">Honda</option>
               <option value="3">Audi</option>
               <option value="3">Lamborghini</option>
             </select>
          </div>
          <div class="md-form">
            <select id="lang1" class="mdb-select md-form">
              <option class="op" value="" disabled selected>Modelo</option>
              
            </select>
          </div>
          <div>
            <select id="lang2" class="mdb-select md-form">
               <option class="op" value="" disabled selected>Precio</option>
                <option value="D&G">1000-2000 $</option>
              <option value="2">2000-3000 $</option>
              <option value="3">3000-4000 $</option>
              <option value="3">4000-5000 $</option>
              <option value="3">5000-6000 $</option>
          </select>
        </div>
          <div class="md-form">
            <select id="lang3" class="mdb-select md-form">
              <option class="op" value="" disabled selected>Ciudad</option>
              <option value="D&G">Cochabamba</option>
              <option value="2">La Paz</option>
              <option value="3">Santa Cruz</option>
              <option value="3">Tarija</option>
              <option value="3">Beni</option>
            </select>
          </div>

          <div class="form-check" id="btnBuscar">
              <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" id="btnB" type="submit">Buscar</button>
          </div>
          
            </form>

          </div>

          </div>
        </tr>
      </tbody>
    
    </table>
    
</section>
